<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Movie Reviews</h1>
    <p>Here is where you do it!</p>
    <p><%= link_to "Register to submit your own reviews!",
           new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |mov| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to image_tag(mov.image.url(:medium), class: 'image'), mov %>
      </div>
    </div>
  <% end %>
</div>